html {
  /* Fonts */
  font-family: 'Lato', sans-serif;
  font-family: 'Cardo', serif;
  font-size: 16px; }

body {
  background-color: #ffffff; }

header {
  background-color: #19142B; }

.nav-style {
  color: #CFDDE9;
  font-family: 'Lato', sans-serif; }

main {
  padding: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 1em; }

main h1 {
  font-family: 'Cardo', serif; }

.cardstyle {
  color: #19142B;
  margin: 40px;
  padding: 40px;
  text-align: center;
  align-content: center; }

.cardstyle h3 {
  font-size: 1.15rem;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center; }

.cardstyle h1 {
  font-family: 'Cardo', serif;
  font-size: 2em;
  padding: 5px;
  text-align: center; }

.text-card-style {
  margin-left: 10px;
  margin-right: 10px; }

.alternatecard {
  background-color: #F7F6FF; }

.image-card-style {
  padding: 5px; }

.logos {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px; }

.logos img {
  padding: 10px; }

.btn {
  padding: 10px;
  background: #FCB148;
  color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out; }

.btn:hover {
  -webkit-transform: scale(1.1);
  background: #363082;
  color: #ffffff; }

.btn-lg {
  background-color: transparent;
  color: #19142B;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border: 5px solid #363082;
  margin-bottom: 25px; }

.btn-lg:hover {
  background-color: #F7F6FF;
  color: #19142B; }

.seemore {
  padding: 30px;
  display: flex;
  justify-content: center; }

.card-img-top {
  height: 125px;
  max-width: 100%;
  width: auto;
  margin-top: 15px;
  margin-bottom: 15px; }

.research-cards {
  margin-top: 50px; }

.sectionhead img {
  margin-top: 50px;
  height: 50px;
  width: auto; }

.card-title {
  font-family: "Cardo", serif; }

.card {
  background-color: #F7F6FF;
  border: none; }

.aboutme {
  margin-top: 70px;
  text-align: center; }

.aboutme h4 {
  font-family: "Cardo", serif;
  font-size: 1.5em;
  color: #363082;
  text-align: left; }

.aboutme p {
  text-align: left; }

.aboutimage {
  text-align: center; }

@keyframes rotate {
  0% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0); }
  100% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg); } }
.stars {
  transform: perspective(500px);
  transform-style: preserve-3d;
  position: absolute;
  bottom: 0;
  perspective-origin: 50% 100%;
  left: 50%;
  animation: rotate 120s infinite linear; }

.star {
  width: .5px;
  height: .5px;
  background: #FCB148;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0 -500px;
  transform: translate3d(0, 0, -300px);
  backface-visibility: hidden;
  z-index: -1; }

.stars-wrapper {
  overflow: hidden;
  width: 100%;
  height: 650px;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: flex-end;
  background-image: url("Images/3x/Asset 12@3x.png");
  background-attachment: fixed;
  background-size: cover; }

.imagelayerer {
  z-index: 1;
  position: relative; }

.namebox {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  margin-left: 50px;
  margin-right: 50px;
  flex-wrap: wrap;
  align-items: center; }

.namebox img {
  padding-top: 20px; }

@media only screen and (max-width: 500px) {
  .namebox {
    margin-left: 0px;
    margin-right: 0px; }

  .namebox img {
    max-width: 200px; }

  #uximg {
    width: 350px; }

  .cardstyle {
    padding: 0px;
    padding-bottom: 20px; }

  .logos img {
    padding: 5px; }

  .image-card-style {
    padding-top: 25px; }

  .cardstyle img {
    max-height: 190px; }

  .aboutme img {
    max-width: 250px;
    height: auto; }

  .namecopyright p {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    text-align: center;
    font-size: .6em; }

  .footerlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid #FCB148; }

  .footerlogo img {
    padding: 0px;
    border: 5px solid #FCB148;
    height: 40px; }

  .footerlogo a {
    padding-right: 0px; } }
footer {
  background: radial-gradient(200% 100% at bottom center, #1e1e62, #48929A);
  background-attachment: fixed;
  color: #CFDDE9;
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
  height: 100px; }

.namecopyright p {
  margin-top: auto;
  margin-bottom: auto;
  padding: 25px;
  padding-left: 50px; }

.footerlogo {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.footerlogo img {
  padding: 25px; }

.footerlogo a {
  padding-right: 25px; }

.portfoliohero {
  background-image: url("Images/BCAT/markus-spiske-482453-unsplash.jpg");
  background-size: cover;
  text-align: center;
  padding: 30px;
  color: #ffffff; }

.portfoliohero h1 {
  font-family: 'Cardo', serif; }

.portfoliohero h2 {
  font-family: 'Lato', sans-serif; }

.portfolio {
  display: flex;
  justify-content: center; }

.portfoliomain {
  background-color: #ffffff;
  padding: 25px;
  width: 100%;
  align-content: center; }

.portfoliomain h3 {
  font-family: 'Cardo', serif;
  text-align: center;
  font-size: 2.5rem; }

.portfoliomain h4 {
  font-family: 'Cardo', serif;
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-color: #FCB148; }

.portfoliomain h5 {
  font-family: 'Cardo', serif;
  padding-top: 20px;
  text-align: center;
  font-size: 1.3rem;
  font-style: italic; }

.portfoliomain ul {
  text-align: center;
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
  padding: 0px; }

.portfoliomain li {
  margin-bottom: 10px; }

.portfoliomain p {
  padding-top: 10px;
  padding-bottom: 10px; }

.portfoliomain img {
  width: 100%;
  height: auto; }

@media (min-width: 768px) {
  .portfoliomain img {
    width: 50%;
    height: auto; } }
.portfolioimage {
  text-align: center; }

.portfolioimage img {
  padding-bottom: 5px; }

.colorsection {
  background-color: #F7F6FF;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 10px; }

.section {
  padding: 20px;
  margin-top: 50px; }

.projecthead {
  padding: 25px;
  background: #F7F6FF;
  margin-top: 50px; }

#leftlist li {
  text-align: left;
  list-style-type: circle;
  list-style-position: inside;
  margin: 0px;
  padding: 0px; }

.gallery {
  display: flex;
  align-content: center;
  text-align: center; }

.gallery img {
  height: auto;
  width: 80%; }

/*# sourceMappingURL=style.css.map */
